:root {
	--fc-border-color: #cfcfcf !important;
}

.fc-toolbar-chunk {
	@apply hidden;
}

.fc-day-today {
	@apply !bg-transparent;
}

.fc-theme-standard .fc-scrollgrid {
	@apply !border-transparent;
}
tr td:first-child .fc-scroller {
	@apply !overflow-hidden;
}

tr th:nth-child(2) .fc-scroller {
	@apply !overflow-hidden;
}
