::-webkit-scrollbar-track {
	@apply bg-gray-12;
}

::-webkit-scrollbar {
	@apply w-2 bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply rounded-md bg-gray-11;
}

* {
	scrollbar-color: #b1b1b1 #ebebeb;
	scrollbar-width: thin;
}
